spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://hyeoni1995.duckdns.org:28080/realms/WIMP
          jwk-set-uri: https://hyeoni1995.duckdns.org:28080/realms/WIMP/protocol/openid-connect/certs
  application:
    name: WIMP_ApiGateway
#  cloud:
#    gateway:
#      routes:
#        - id: dummy_service
#          uri: lb://DEMO
#          predicates:
#            - Path=/api/test/**
#          filters:
#            - RewritePath=/api/test/(?<remaining>.*), /api/${API_VERSION:default}/test/${remaining}


server:
  port: 8080
  ssl:
    enabled: true
    key-store: classpath:keystore.jks # Keystore 파일의 경로
    key-store-password: wimp # Keystore 비밀번호
    key-alias: wimp_ssl  # 인증서 별칭

eureka:
  instance:
    instanceId: ${spring.application.name}:${spring.application.instance_id:${server.port}}
  client:
    eureka-server-port: 8761
    register-with-eureka: true
    fetch-registry: true
    disable-delta: true
    service-url:
      defaultZone: http://oci-hyeoni1995.duckdns.org:${eureka.client.eureka-server-port}/eureka

logging:
  config: classpath:logConfig.xml
  level:
    org.springframework.security: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: '*'  # Expose all actuator endpoints
  endpoint:
    health:
      show-details: always

