spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: WIMP_ApiGateway
  cloud:
    gateway:
      routes:
        - id: dummy_service
          uri: lb://DEMO
          predicates:
            - Path=/api/test/**
          filters:
            - RewritePath=/api/test/(?<remaining>.*), /api/${API_VERSION:default}/test/${remaining}
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://192.168.0.174:18080/realms/springboot-test
          jwk-set-uri: ${spring.security.oauth2.resourceserver.jwt.issuer-uri}/protocol/openid-connect/certs


server:
  port: 8080

eureka:
  instance:
    instanceId: ${spring.application.name}:${spring.application.instance_id:${server.port}}
  client:
    eureka-server-port: 8761
    register-with-eureka: true
    fetch-registry: true
    disable-delta: true
    service-url:
      defaultZone: http://localhost:${eureka.client.eureka-server-port}/eureka

logging:
  config: classpath:logConfig.xml

management:
  endpoints:
    web:
      exposure:
        include: '*'  # Expose all actuator endpoints

